.header {
  height: var(--header-hight);
}

.header__title {
  float: left;
}

.header__name {
  margin: 5px 0;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: bold;
}

.header__position {
  margin: 5px 0;
  color: var(--color-black);
  font-size: 1.7rem;
}

.avatar {
  width: var(--header-hight);
  height: var(--header-hight);
  margin-right: 82px;
  clip-path: circle(50%);
  float: right;
}

.avatar__img {
  width: var(--header-hight);
  height: var(--header-hight);
}
