.contact {
  color: var(--color-gray-1);
  font-size: 0.85rem;
  line-height: 1.4rem;
}

.technologies,
.languages {
  margin: 20px 0;
}

.technologies__title,
.languages__title {
  color: var(--color-gray-1);
  font-size: 0.92rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.technologies__list,
.languages__item {
  color: var(--color-gray-1);
  font-size: 0.85rem;
  line-height: 1.4rem;
}
