.header {
    height: var(--avatar-size);
}

.title {
    float: left;
}

.name {
    margin: 5px 0;
    font-size: 30px;
    color: var(--color-black);
    font-weight: bold;
}

.position {
    margin: 5px 0;
    font-size: 20px;
    color: var(--color-black);
}

.avatar {
    float: right;
    margin-right: 75px;
    width: var(--avatar-size);
    height:var(--avatar-size);
    clip-path: circle(50%);
}

.avatar__img {
    width: var(--avatar-size);
    height: var(--avatar-size);
}
