.header {
    height: 72px;
}

.title {
    float: left;
}

.name {
    margin: 5px 0;
    font-size: 30px;
    color: #101214;
    font-weight: bold;
}

.position {
    margin: 5px 0;
    font-size: 20px;
    color: #101214;
}

.avatar {
    float: right;
    margin-right: 75px;
    width: 72px;
    height: 72px;
    background-color: #000;
    clip-path: circle(50%);
}

.avatar__img {
    width: 72px;
    height: 72px;
}
