@import './reset.css';
@import './header.css';
@import './about-me.css';
@import './info.css';
@import './main-info.css';
@import './another-info.css';
@import './download.css';

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-0: #e5e5e5;
  --color-gray-1: #73808d;
  --font-size: 13px;
  --cv-container-width: 700px;
  --cv-container-min-height: 900px;
  --header-hight: 72px;
}

html {
  background-color: var(--color-gray-0);
  font-family: "Arial", sans-serif;
  font-size: var(--font-size);
}

.cv-wrapper {
  width: var(--cv-container-width);
  min-height: var(--cv-container-min-height);
  margin: 10px auto;
  background-color: var(--color-white);
}

.top-line {
  width: 100%;
  height: 4px;
  background-color: var(--color-black);
}

.cv {
  margin: 50px;
}
