.experience-container,
.education-container {
    margin: 20px 0;
}

.experience__title,
.education__title {
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 2px;
    color: var(--color-gray-1);
    text-transform: uppercase;
}

.experience__position,
.education__degree {
    margin: 5px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--color-black);
}

.experience__company,
.education__institution {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 100;
    color: var(--color-black);
}

.experience__duration,
.education__duration {
    margin: 5px 0;
    font-size: 10px;
    font-weight: 100;
    color: var(--color-gray-1);
}

.experience__discription {
    margin: 10px 0;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-black);
}
