.name {
    margin: 5px 0;
    font-family: Arial;
    font-size: 30px;
    color: #101214;
    font-weight: bold;
}

.position {
    margin: 5px 0;
    font-family: Arial;
    font-size: 20px;
    color: #101214;
}
